<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-12 col-s-12 col-md-6 col-l-6">
    <a href="#" class="thumbnail">
      <%= image_tag(@product.image_url, class: "thumbnail img-zoom", data_zoom_image: "#{@product.image_url}") %>
    </a>
  </div>

  <div class="col-xs-12 col-md-6 col-l-6 products-info">
    <p>
      <h3><%= @product.name %></h3>
    </p>
    <%= form_tag "/payments/create" do %>
      <!-- Hidden field to pass info to params/payments controller-->
      <%= hidden_field_tag(:product_id, @product.id) %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <% end %>

    <p>
      <strong>Description:</strong></br>
      <%= @product.description %>
    </p>

    <p>
      <!--<strong>Image url:</strong></br>
      <%= @product.image_url %> -->
    </p>

    <p>
	   <strong>Price</strong></br>
	   £<%= @product.price %>
    </p>
    
    <p>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div> 
    </p>
    <% if signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
    <% end%>
  </div>
</div>

<% if signed_in? %>
  <%= render 'new_comment' %>
<% end %>

<hr>
<h3 class="comment-title">Top Review</h3></br>
<%if @product.highest_rating_comment.present?%>
  <p><%= @product.highest_rating_comment.body%></p>
  <div class="rated" data-score="<%= @product.highest_rating_comment.rating %>"></div>
  </br>
    <h4>More Reviews</h4></br>
<%else%>
  <p>Log-in and be the first to write a review</p>
</br>
<%end%>

    <%= render 'comments' %>