<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12 col-md-10 col-l-8">
    <a href="#" class="thumbnail">
      <%= image_tag (@product.image_url)%>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-10 col-l-8">
    <p>
      <h3><%= @product.name %></h3>
    </p>

    <p>
      <strong>Description:</strong></br>
      <%= @product.description %>
    </p>

    <p>
      <strong>Image url:</strong></br>
      <%= @product.image_url %>
    </p>

    <p>
	   <strong>Price</strong></br>
	   <%= @product.price %>
    </p>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>
</div>