<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12 col-s-12 col-md-6 col-l-6">
    <a href="#" class="thumbnail">
      <%= image_tag (@product.image_url)%>
    </a>
  </div>
  <div class="col-xs-12 col-md-6 col-l-6 products-info">
    <p>
      <h3><%= @product.name %></h3>
    </p>

    <p>
      <strong>Description:</strong></br>
      <%= @product.description %>
    </p>

    <p>
      <strong>Image url:</strong></br>
      <%= @product.image_url %>
    </p>

    <p>
	   <strong>Price</strong></br>
	   <%= @product.price %>
    </p>
    <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>
</div>
<% if signed_in? %>
  <h4>Add a review:</h4>
  <%= form_for([@product, @product.comments.build]) do |f| %>
    <p>
      <%= f.label :body, "Comments" %>
      <%= f.text_area :body %>
    </p>
         <%= f.label :rating, "Rating" %>
     <p>
    <div class="rating"></div>
  </p>
    <p>
      <%= f.submit "Submit" %>
    </p>
  <% end %>
<% end %>


<strong>Reviews</strong></br>
    <p><%= @product.highest_rating_comment %></p></br></br>